
#header{
    background-color: gray;
}

nav {
    padding: 10px;
}

article {
    margin-bottom: 20px;
}

.cor-azul {
    background-color: blue;
}

.cor-vermelha {
    background-color: red;
}

.cor-verde {
    background-color: green;
}

}
